
.contactsContainer{
    display: grid;
    grid-template-rows: 10% 1fr;
    border-radius: 15px;
    background-color: #E9F9FF;
    color: #333;
    justify-items: center;
    align-items:start;
}

.scrollableContacts{
    max-height: 86vh;
    overflow-y:scroll;
    width: 92%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.scrollableContacts::-webkit-scrollbar{
    display: none;
}